.container{
    background-color: red;
}
.head{
    grid-area: hea;
    color: white;
    font-size: 48px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}
.commentContainer{
    display: grid;
    font-weight: 500;
    background-color: royalblue;
    height: 500px;
    width: 500px;
    margin: auto;
    grid-template-areas:
            'hea hea hea hea'
            'dis dis dis ac'
            'num7 num8 num9 div'
            'num4 num5 num6 mul'
            'num1 num2 num3 sub'
            'num0 dec equal add';
    grid-gap: 10px;
    border: solid black 5px;
}
.equal{
    grid-area: equal;
    background-color: #ffa500;
    color: black;
    text-align: center;
}
.decimal{
    grid-area: dec;
    text-align: center;
    background-color: grey;
}
.aC{
    grid-area: ac;
    background-color: #ffa500;
    color: black;
    text-align: center;
}
.keypad{
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 44px;
    border: 4px solid white;
}
.number1{
    grid-area: num1;
}
.number2{
    grid-area: num2;
}
.number3{
    grid-area: num3;
}
.number4{
    grid-area: num4;
}
.number5{
    grid-area: num5;
}
.number6{
    grid-area: num6;
}
.number7{
    grid-area: num7;
}
.number8{
    grid-area: num8;
}
.number9{
    grid-area: num9;
}
.number0{
    grid-area: num0;
}
.eq{
    font-size: 36px;
    padding-right: 10px;
}
.disp{
    font-size: 44px;
    padding-right: 10px;
}
.displayScreen{
    grid-area: dis;
    color: white;
    text-align: right;
    background-color: black;
    border: 2px solid black;
 }
 .add{
     grid-area: add;
     background-color: #ffa500;
     color: black;
     text-align: center;
 }
 .sub{
     grid-area: sub;
     background-color: #ffa500;
     color: black;
     text-align: center;
 }
 .mul{
     grid-area: mul;
     background-color: #ffa500;
     color: black;
     text-align: center;
 }
 .div{
     grid-area: div;
     background-color: #ffa500;
     color: black;
     text-align: center;
 }